
body{
    background-color: aquamarine;
}
.s{
    border: 2px solid gray;
    text-align: center;
    height: 150px;
    width: 100%;
    background-color: gray;
}
h1{
    position: relative;
    top: 30px;
    letter-spacing: 5px;
    color: yellow;
}
h3{
    text-align: center;
    text-decoration: underline yellow;
    font-weight: bolder;
}
.n{
    background-color: lavender;
    border: 2px solid yellow;
    width: 600px;
    height: 450px;
    position: relative;
    left: 445px;
    top: 35px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    left: 9rem;
    top:5rem;
    bottom: 15rem;
}

.cell:hover {
    background-color: #f0f0f0;
}
